.button {
  @include fonts(400, 16px, 20px, $white);
  border: none;
  background-color: $green;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.button--catalog {
  padding-top: 8px;
  padding-bottom: 8px;
}

.button--submit {
  padding: 7px 44px;
}

.button--show-all {
  background-color: $grey-extra-light;
  color: $grey;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

.button--order {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 14px;
}
