.button {
  border: none;
  background-color: $green;
  @include fonts(400, 16px, 20px, $white);
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.button--catalog {
  padding-top: 8px;
  padding-bottom: 8px;
}

.button--submit {
  padding: 7px 44px;
}
