.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog__item {
  margin-bottom: 22px;
}

.catalog__item:last-child {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .catalog__item {
    @include col-2(60px);
    margin-right: 60px;
  }

  .catalog__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    @include col-1(80px);
    margin-right: 80px;
  }

  .catalog__item:nth-child(2n) {
    margin-right: 80px;
  }

  .catalog__item:nth-child(4n) {
    margin-right: 0;
  }
}
