.checkbox__item {
  margin-bottom: 24px;
  padding-left: 46px;
  position: relative;
}

.checkbox__item-label {
  @include fonts(400, 16px, 18px, $black-lighter);
  text-transform: uppercase;
}

.checkbox__item-label::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid $grey-medium;
  top: -5px;
  left: 0;
}

.checkbox__item-input:checked + .checkbox__item-label::after {
  content: url("../../img/checkbox-tick.svg");
  position: absolute;
  width: 18px;
  height: 14px;
  left: 5px;
  top: 2px;
}

@media (min-width: $tablet-width) {
  .checkbox {
    // width: calc(50% - 30px);
    // width: 342px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .checkbox__item {
    padding-left: 57px;
    // width: calc(50% - 30px);
    width: 50%;
    margin-bottom: 43px;
  }

  .checkbox__item-label {
    font-size: 20px;
    line-height: 30px;
  }

  .checkbox__item-label::before {
    width: 40px;
    height: 40px;
  }
}
