.copyright {
  min-height: 78px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.copyright__text {
  font-size: 16px;
  line-height: 18px;
  color: $grey;
}

.copyright__logo {
  margin-left: 23px;
}

@media (min-width: $tablet-width) {
  .copyright {
    min-height: auto;
  }
}
