.example {
  background-color: $grey-medium-light;
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
}

.example__costs-title {
  @include fonts(400, 14px, 20px, $black);
  text-transform: uppercase;
}

.example__filter {
  @include fonts(400, 16px, 20px, $black);
  text-transform: uppercase;
}
