.example {
  background-color: $grey-medium-light;
}

.example__item-title {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 33px;
}

.example__item-description {
  margin: 0;
  padding-right: 1px;
  margin-bottom: 25px;
}

.example__item-costs-title {
  @include fonts(400, 14px, 20px, $black);
  text-transform: uppercase;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 42px;
}

.example__item-filter {
  @include fonts(400, 16px, 20px, $black);
  text-transform: uppercase;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 37px;
}

.example__details {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: flex-start;
}

.example__data {
  margin-right: 31px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: $grey;
  width: calc(50% - 16px);
}

.example__data:last-child {
  margin-right: 0;
}

.example__data-param {
  @include fonts(400, 24px, 24px, $black);
  text-transform: uppercase;
  border: 1px solid $grey-medium;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}

.example__data-desc {
  margin: 0 24px;
  margin-top: -10px;
  background-color: $grey-medium-light;
}

.example__costs {
  @include fonts(400, 14px, 20px, $black);
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 42px;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: $white;
  }

  .example__item-title {
    padding: 0;
    padding-top: 40px;
  }

  .example__item-text-wrapper {
    background-color: $white;
  }

  .example__item-description {
    font-size: 16px;
    line-height: 24px;
    margin-top: 64px;
    margin-bottom: 54px;
  }

  .example__details-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .example__data {
    margin-right: 32px;
  }

  .example__data-param {
    font-size: 30px;
    line-height: 37px;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .example__data-desc {
    font-size: 14px;
    line-height: 14px;
  }

  .example__costs {
    font-size: 20px;
    line-height: 20px;
    max-width: calc(25% + 0px);
    text-align: right;
  }

  .example__item-filter {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    z-index: -1;
    background-color: $grey-medium-light;
    padding-top: 355px;
    padding-bottom: 66px;
  }
}

@media (min-width: $desktop-width) {
  .example__item {
    display: flex;
  }

  .example__item-title {
    background-color: $white;
  }

  .example__item-text-wrapper {
    background-color: $grey-medium-light;
  }

  .example__item-table-wrapper {
    flex-direction: column;
  }
}
