.example {
  background-color: $grey-medium-light;
  margin-bottom: 27px;
}

.example__title {
  margin: 0;
  padding-top: 27px;
  margin-bottom: 33px;
}

.example__description {
  margin: 0;
  margin-bottom: 24px;
}

.example__item-costs-title {
  @include fonts(400, 14px, 20px, $black);
  text-transform: uppercase;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 42px;
}

.example__details {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  // flex-direction: flex-start;
  margin-bottom: 20px;
}

.example__data {
  margin-right: 31px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: $grey;
  width: calc(50% - 16px);
}

.example__data:last-child {
  margin-right: 0;
}

.example__data-param {
  @include fonts(400, 24px, 24px, $black);
  text-transform: uppercase;
  border: 1px solid $grey-medium;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 17px;
  margin: 0;
}

.example__data-desc {
  margin: 0 24px;
  margin-top: -10px;
  background-color: $grey-medium-light;
}

.example__costs {
  @include fonts(400, 14px, 20px, $black);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
}

.example__text-wrapper {
  margin-bottom: 8px;
}

// .example__foto-wrapper {
//   margin-bottom: 30px;
//   position: relative;
//   height: 267px;
// }

.example__foto-before {
  max-width: none;
  overflow: hidden;
  height: 100%;
}

.example__foto-after {
  max-width: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  overflow: visible;
  background-color: $grey-medium-light;
}

.example__cat-foto {
  display: block;
  position: absolute;
  max-width: none;
  top: 0;
}

.example__cat-foto--fat {
  top: 32px;
  // right: -15px;
}

.example__cat-foto--skinny {
  top: 16px;
  right: -4px;
}

.example__foto-after::after {
  content: "";
  display: block;
  position: absolute;
  outline: 1px soli red;
  height: calc(100% + 100px);
  background: linear-gradient(to bottom, white, white 200px, red 201px);
}

.example__after-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.example__slider-wrapper {
  position: relative;
  height: 353px;
}

.example__filter-wrapper {
  position: absolute;
  bottom: 36px;
  width: 100%;
}

.example__filter {
  @include fonts(400, 16px, 20px, $black);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
  margin-left: 44px;
}

@media (min-width: $tablet-width) {
  .example {
    background: linear-gradient(to bottom, $white 576px, $grey-medium-light 576px);
    margin-bottom: 65px;
  }

  .example__title {
    padding: 0;
    margin-bottom: 65px;
  }

  .example__text-wrapper {
    background-color: transparent;
    margin-bottom: 84px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 52px;
  }

  .example__details-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .example__details {
    margin-bottom: 0;
  }

  .example__data {
    margin-right: 42px;
    width: 162px;
  }

  .example__data-param {
    font-size: 30px;
    line-height: 37px;
    padding-top: 15px;
    padding-bottom: 18px;
  }

  .example__data-desc {
    font-size: 14px;
    line-height: 14px;
    margin: -10px 15px 0 15px;
    background-color: $white;
  }

  .example__costs {
    font-size: 20px;
    line-height: 28px;
    width: calc(25% + 0px);
    text-align: right;
    margin-top: 0;
    padding-top: 7px;
  }

  .example__foto-wrapper {
    margin-bottom: 10px;
    height: 520px;
  }

  // .example__foto-before {
  //   padding-top: 0;
  // }

  .example__foto-after {
    background: linear-gradient(to bottom, $white 26.5%, $grey-medium-light 26.5%);
  }

  .example__cat-foto--fat {
    left: 15px;
    top: -4px;
  }

  .example__cat-foto--skinny {
    // left: -10px;
    right: 57px;
    top: -5px;
  }

  .example__filter-wrapper {
    bottom: 69px;
  }

  .example__slider-wrapper {
    min-height: 630px;
  }

  .example__item-foto {
    width: 354px;
    height: 502px;
  }

  .example__filter {
    font-size: 20px;
    line-height: 30px;
    z-index: -1;
    background-color: $grey-medium-light;
    margin-left: 68px;
    margin-right: 69px;
  }

  .example__before-after {
    border-bottom: 1px dotted $black-transparent;
  }

  .example__before-after:hover {
    border-bottom: 1px solid $black-more-transparent;
  }

  .example__before-after:active {
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background: linear-gradient(to bottom, $white 200px, transparent 200px), linear-gradient(to right, $grey-extra-light 50.5%, $grey-medium-light 49.5%);
    margin-bottom: 0;
  }

  .example__wrapper {
    display: flex;
  }

  .example__title {
    padding: 0;
    margin-bottom: 147px;
  }

  .example__text-wrapper {
    width: 50%;
    padding-right: 171px;
    padding-top: 60px;
    padding-bottom: 70px;
    margin-bottom: 0;
  }

  .example__description {
    margin-top: 0;
    margin-bottom: 67px;
  }

  .example__details-wrapper {
    display: block;
    margin-right: 73px;
  }

  .example__details {
    margin-bottom: 52px;
  }

  .example__data-desc {
    background-color: $grey-medium-light;
  }

  .example__costs {
    margin: 0;
    width: 100%;
    text-align: left;
    padding: 0;
  }

  .example__costs-description {
    margin-right: 58px;
  }

  .example__slider-wrapper {
    width: 50%;
    min-height: 656px;
    margin-top: 0;
    position: relative;
  }

  .example__foto-wrapper {
    min-height: 536px;
    margin-bottom: 25px;
  }

  .example__foto-before {
    background: linear-gradient(to bottom, $white 30.5%, $grey-extra-light 30.5%);
  }

  .example__foto-after {
    background: linear-gradient(to bottom, $white 30.5%, $grey-medium-light 30.5%);
    width: 47%;
  }

  .example__cat-foto--fat {
    left: -39px;
    top: 3px;
  }

  .example__cat-foto--skinny {
    right: 12px;
    top: 2px;
  }

  .example__filter-wrapper {
    bottom: 68px;
  }

  .example__filter {
    margin-right: 0;
    margin-left: 39px;
    background: linear-gradient(to right, $grey-extra-light 50%, $grey-medium-light 50%);
  }

  .example__before-after {
    border-bottom: 1px dotted $black-transparent;
  }
}
