.example-table {
  width: 100%;
  text-align: center;
}

.example-table__data {
  @include fonts(400, 24px, 24px, $black);
  text-transform: uppercase;
}

.example-table__parameters {
  font-size: 12px;
  line-height: 12px;
}

@media (min-width: $tablet-width) {
  .example-table__data {
    font-size: 30px;
    line-height: 37px;
  }

  .example-table__parameters {
    font-size: 14px;
    line-height: 14px;
  }
}
