.explanation__title {
  // width: 280px;
  // margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 40px;
}

.explanation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.explanation__item {
  padding-left: 80px;
  margin-bottom: 26px;
  position: relative;
}

.explanation__item:last-child {
  margin-bottom: 46px;
}

.explanation__item--ingredients::before {
  position: absolute;
  width: 60px;
  height: 60px;
  content: url("https://via.placeholder.com/60x60");
  left: 0;
  top: -2px;
}

.explanation__item--product-format::before {
  position: absolute;
  width: 60px;
  height: 60px;
  content: url("https://via.placeholder.com/60x60");
  left: 0;
  top: -2px;
}

.explanation__item--meals-number::before {
  position: absolute;
  width: 60px;
  height: 60px;
  content: url("https://via.placeholder.com/60x60");
  left: 0;
  top: -2px;
}

.explanation__item--changes::before {
  position: absolute;
  width: 60px;
  height: 60px;
  content: url("https://via.placeholder.com/60x60");
  left: 0;
  top: -2px;
}

@media (min-width: $tablet-width) {
  .explanation__title {
    margin-top: 43px;
  }

  .explanation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .explanation__item {
    width: calc(50% - 30px);
  }
}

.explanation__item-description {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .explanation {
    counter-reset: number;
  }

  .explanation__item {
    counter-increment: number;
    padding-left: 0;
    padding-top: 152px;
    margin-bottom: 32px;
  }

  .explanation__item::after {
    @include fonts(400, 280px, 280px, $grey-extra-light);
    z-index: -1;
    content: counter(number);
    position: absolute;
    top: 0;
    left: 118px;
  }

  .explanation__title {
    margin-bottom: 32px;
  }

  .explanation__item-description {
    font-size: 16px;
    line-height: 24px;
    color: $grey;
    padding-right: 91px;
    padding-bottom: 60px;
  }

  .explanation__item--ingredients::before {
    position: absolute;
    width: 80px;
    height: 80px;
    content: url("https://via.placeholder.com/80x80");
    top: 40px;
  }

  .explanation__item--product-format::before {
    position: absolute;
    width: 80px;
    height: 80px;
    content: url("https://via.placeholder.com/80x80");
    top: 40px;
  }

  .explanation__item--meals-number::before {
    position: absolute;
    width: 80px;
    height: 80px;
    content: url("https://via.placeholder.com/80x80");
    top: 40px;
  }

  .explanation__item--changes::before {
    position: absolute;
    width: 80px;
    height: 80px;
    content: url("https://via.placeholder.com/80x80");
    top: 40px;
  }
}

@media (min-width: $desktop-width) {
  .explanation__title {
    margin-top: 71px;
  }

  .explanation__item {
    width: calc(25% - 60px);
  }
}
