.explanation {
  margin-bottom: 46px;
}

.explanation__title {
  margin-top: 0;
  margin-bottom: 41px;
}

.explanation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.explanation__item {
  padding-left: 80px;
  margin-bottom: 26px;
  position: relative;
}

.explanation__item:last-child {
  margin-bottom: 0;
}

.explanation__item::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background: $green;
  left: 0;
  top: -2px;
}

.explanation__item--ingredients::before {
  background: url("../img/ingredients.svg"), $green;
  background-repeat: no-repeat;
  background-position: left 18px top 15px, 0 0;
  background-size: 25px 28px, auto;
}


.explanation__item--product-format::before {
  background: url("../img/product-format.svg"), $green;
  background-repeat: no-repeat;
  background-position: left 16px top 13px, 0 0;
  background-size: 28px 31px, auto;
}

.explanation__item--meals-number::before {
  background: url("../img/meals-number.svg"), $green;
  background-repeat: no-repeat;
  background-position: left 18px top 14px, 0 0;
  background-size: 25px 30px, auto;
}

.explanation__item--changes::before {
  background-image: url("../img/changes.svg");
  background-repeat: no-repeat;
  background-position: left 16px top 15px, 0 0;
  background-size: 25px 30px, auto;
}

.explanation__item-description {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .explanation {
    counter-reset: number;
    padding-bottom: 9px;
    border-bottom: 1px solid $grey-light;
    margin-bottom: 43px;
  }

  .explanation__title {
    margin-bottom: 32px;
  }

  .explanation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .explanation__item {
    counter-increment: number;
    width: calc(50% - 30px);
    padding-left: 0;
    padding-top: 152px;
    padding-right: 91px;
    margin-bottom: 33px;
  }

  .explanation__item--changes {
    padding-right: 20px;
  }

  .explanation__item::after {
    @include fonts(400, 280px, 280px, $grey-extra-light);
    z-index: -1;
    content: counter(number);
    position: absolute;
    top: 0;
    left: 118px;
  }

  .explanation__item-description {
    font-size: 16px;
    line-height: 24px;
    color: $grey;
    min-height: 132px;
  }

  .explanation__item::before {
    width: 80px;
    height: 80px;
    background-size: 100%;
    top: 40px;
  }

  .explanation__item--ingredients::before {
    background-position: left 27px top 26px, 0 0;
    background-size: 25px 28px, auto;
  }

  .explanation__item--product-format::before {
    background-position: left 25px top 25px, 0 0;
    background-size: 29px 31px, auto;
  }

  .explanation__item--meals-number::before {
    background-position: left 28px top 25px, 0 0;
    background-size: 25px 30px, auto;
  }

  .explanation__item--changes::before {
    background-position: left 28px top 25px, 0 0;
    background-size: 25px 30px, auto;
  }
}

@media (min-width: $desktop-width) {
  .explanation {
    counter-reset: number;
    padding-bottom: 0;
    border: none;
    margin-bottom: 5px;
  }

  .explanation__item {
    counter-increment: number;
    width: calc(25% - 60px);
    margin-bottom: 0;
    padding-right: 20px;
  }

  .explanation__item:last-child {
    margin-bottom: 0;
  }

  .explanation__item::after {
    @include fonts(400, 280px, 280px, $grey-extra-light);
    z-index: 1;
    content: counter(number);
    position: absolute;
    top: 0;
    left: 118px;
  }
}
