.explanations__title {
  // width: 280px;
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 38px;
}

.explanations__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .explanations__title {
    margin-top: 45px;
  }

  .explanations__list {
    display: flex;
    flex-wrap: wrap;
  }

  .explanations__item {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .explanations__title {
    margin-top: 71px;
  }

  .explanations__item {
    width: 25%;
  }
}
