.extras__title {
  @include fonts(400, 24px, 24px, $black);
  margin-top: 0;
  margin-bottom: 35px;
}

.extras__list {
  list-style: none;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
}

.extras__gift-wrapper {
  margin-bottom: 33px;
}

@media (min-width: $tablet-width) {
  .extras {
    margin-bottom: 75px;
  }

  .extras__gift-wrapper {
    margin-bottom: 0;
  }

  .extras__list {
    margin-bottom: 67px;
  }

  .extras__title {
    padding-left: 38px;
    padding-right: 38px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
  }

  .extras__item {
    border-top: 1px solid $grey-medium;
  }
}

@media (min-width: $desktop-width) {
  .extras {
    margin-bottom: 90px;
  }

  .extras__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .extras__list {
    @include col-3(80px);
    margin-bottom: 0;
  }

  .extras__gift-wrapper {
    @include col-1(80px);
  }

  .extras__title {
    padding: 0;
  }
}
