.extras__title {
  @include fonts(400, 24px, 24px, $black);
}

.extras__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .extras__item {
    border-top: 1px solid $grey-medium;
  }

  .extras__title {
    margin-left: 38px;
  }

  .extras__button {
    margin: 28px 30px;
  }
}

@media (min-width: $desktop-width) {
  .extras__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .extras__list {
    @include col-3;
  }

  .extras__gift-wrapper {
    @include col-1;
  }
}
