.extra {
  padding-bottom: 18px;
  border-top: 1px solid $grey-medium;
}

.extra:last-child {
  border-bottom: 1px solid $grey-medium;
}

.extra__wrapper {
  padding-top: 14px;
  margin-bottom: 15px;
}

.extra__title {
  @include fonts(400, 16px, 16px, $black-lighter);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 12px;
}

.extra__details-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.extra__detail {
  line-height: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .extra {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 27px;
  }

  .extra__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 26px;
    margin-bottom: 5px;
  }

  .extra__title {
    font-size: 20px;
    line-height: 20px;
    width: 50%;
    margin-bottom: 0;
  }

  .extra__details-wrapper {
    width: 50%;
    justify-content: flex-end;
  }

  .extra__detail {
    font-size: 16px;
    line-height: 20px;
    margin-left: 49px;
  }

  .extra__detail:first-child {
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .extra {
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .extra__wrapper {
    margin-left: 38px;
    margin-right: 0;
  }
}
