/* stylelint-disable rule */
.filter {
  appearance: none;
  width: 84px;
  background: transparent;
  margin: 0;
}

.filter:focus {
  outline: none;
}

.filter::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

//Thumb
.filter::-webkit-slider-thumb {
  appearance: none;
  border: none;
  height: 6px;
  width: 35px;
  border-radius: 6px;
  background: $green;
  cursor: pointer;
  margin-top: 3px;
}

.filter::-moz-range-thumb {
  border: none;
  height: 6px;
  width: 35px;
  border-radius: 6px;
  background: $green;
  cursor: pointer;
}

//Track
.filter::-webkit-slider-runnable-track {
  width: 84px;
  height: 14px;
  cursor: pointer;
  background: $white;
  border-radius: 6px;
  padding: 0 5px;
  border: 1px solid $grey-medium;
}

.filter::-moz-range-track {
  width: 84px;
  height: 14px;
  cursor: pointer;
  background: $white;
  border-radius: 6px;
  border: 1px solid $grey-medium;
}

@media (min-width: $tablet-width) {
  .filter {
    width: 428px;
  }

  .filter::-webkit-slider-thumb {
    appearance: none;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 1px solid $grey-medium;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    background: radial-gradient($green, $green 4px, $white 5px);
    cursor: pointer;
    margin-top: -14px;
  }

  .filter::-moz-range-thumb {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 1px solid $grey-medium;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    background: radial-gradient($green, $green 4px, $white 5px);
    cursor: pointer;
  }

  .filter::-webkit-slider-thumb:hover {
    box-shadow: (0 2px 4px rgba(0, 0, 0, 0.19));
  }

  .filter::-moz-range-thumb:hover {
    box-shadow: (0 2px 4px rgba(0, 0, 0, 0.19));
  }

  .filter::-webkit-slider-thumb:active {
    box-shadow: (0 3px 5px rgba(0, 0, 0, 0.2));
    border: 1px solid $green;
  }

  .filter::-moz-range-thumb:active {
    box-shadow: (0 3px 5px rgba(0, 0, 0, 0.2));
    border: 1px solid $green;
  }

  //Track
  .filter::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background-color: $grey-medium-extra;
    border-radius: 6px;
    border: none;
    padding: 0;
  }

  .filter::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background-color: $grey-medium-extra;
    border-radius: 6px;
    border: none;
  }
}
