.form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.form__fieldset--cat {
  margin-bottom: 24px;
  // border-bottom: 1px solid $grey-dark;
}

.form__fieldset--plan {
  padding-top: 28px;
  // padding-bottom: 25px;
  border-top: 1px solid $grey-dark;
  border-bottom: 1px solid $grey-dark;
  padding-bottom: 22px;
}

.form__legend {
  @include fonts(400, 24px, 26px, $black);
  margin-bottom: 32px;
}

.form__item {
  display: flex;
  align-items: baseline;
  margin-bottom: 13px;
}

.form__item:last-child {
  margin-bottom: 0;
}

.form__label {
  @include fonts(400, 16px, 18px, $grey);
  text-transform: uppercase;
  margin-right: 16px;
}

.form__input {
  @include fonts(400, 16px, 18px, $grey);
  text-transform: uppercase;
  height: 46px;
  padding: 10px 13px;
  border: 1px solid $grey-lighter;
  // margin-bottom: 13px;
  flex-grow: 2;
}

.form__footnote {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: $black;
}

.form__input::placeholder {
  @include fonts(400, 16px, 18px, $grey-rgba);
  opacity: 1;
}

.form__input--textarea {
  padding-top: 13px;
  padding-left: 13px;
  padding-right: 13px;
  // height: 150px;
}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .form {
    padding-left: 42px;
    padding-right: 36px;
  }

  .form__fieldset--cat {
    margin-bottom: 72px;
  }

  .form__fieldset--plan {
    border: 1px solid $grey-lighter;
    padding-bottom: 29px;
  }

  .form__item {
    margin-bottom: 20px;
  }

  .form__label {
    font-size: 20px;
    line-height: 30px;
  }

  .form__input {
    font-size: 20px;
    line-height: 30px;
    height: 52px;
  }

  .form__input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .form__list--checkbox {
    display: flex;
    flex-wrap: wrap;
  }

  .checkbox {
    width: calc(50% - 30px);
    // width: 342px;
  }

  .form__button-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding: 0;
  }

  .form__fieldset-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__item--contact {
    width: calc(50% - 40px);
  }

  .checkbox {
    width: calc(25% - 60px);
  }

  .form__fieldset--cat {
    width: calc(50% - 40px);
  }

  .form__fieldset--plan {
    width: calc(50% - 40px);
  }
}

/* stylelint-disable */
.form__input--number::-webkit-outer-spin-button,
.form__input--number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form__input--number {
  -moz-appearance: textfield;
}
