.form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.form__fieldset--cat {
  margin-bottom: 24px;
}

.form__fieldset--plan {
  padding-top: 28px;
  padding-bottom: 22px;
  margin-top: 0;
  position: relative;
  margin-bottom: 27px;
}

.form__fieldset--plan::before {
  position: absolute;
  content: "";
  width: 100vw;
  height: 1px;
  background-color: $grey-dark;
  margin-left: calc(-50vw + 50%);
  top: 0;
}

.form__fieldset--plan::after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 1px;
  background-color: $grey-dark;
  margin-left: calc(-50vw + 50%);
  top: 157px;
}

.form__fieldset--comments {
  margin-bottom: 25px;
}

.form__fieldset--extra {
  margin-bottom: 10px;
}

.form__legend {
  @include fonts(400, 24px, 26px, $black);
  // padding-top: 27px;
  margin-bottom: 32px;
  position: relative;
}

.form__legend--comments {
  margin-bottom: 37px;
}

.form__legend--extra {
  margin-bottom: 39px;
}

.form__legend::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100vw;
  background-color: $green;
}

.form__legend--owner::after {
  left: calc(100% - 80px);
  top: 16px;
}

.form__legend--comments::after {
  left: calc(100% + 18px);
  top: 15px;
}

.form__legend--extra::after {
  left: calc(100% + 18px);
  top: 15px;
}

.form__item-wrapper--contacts {
  margin-bottom: 26px;
  position: relative;
}

.form__input:invalid:not(:placeholder-shown) {
  border: 2px solid $red;
}

.form__input-email-icon {
  position: absolute;
  right: 15px;
  top: 16px;
}

.form__input--email:disabled + .form__input-email-icon {
  stroke: $green;
}

.form__input-tel-icon {
  position: absolute;
  right: 15px;
  top: 72px;
}

.form__input--tel:disabled + .form__input-tel-icon path {
  fill: $green;
}

// .form__input--tel:invalid + .form__input-tel-icon path {
//   fill: $red;
// }

.form__item {
  display: flex;
  align-items: baseline;
  margin-bottom: 13px;
}

.form__item:last-child {
  margin-bottom: 0;
}

.form__label {
  @include fonts(400, 16px, 18px, $grey);
  text-transform: uppercase;
  margin-right: 16px;
}

.form__input {
  @include fonts(400, 16px, 18px, $grey);
  text-transform: uppercase;
  height: 46px;
  padding: 10px 13px;
  border: 1px solid $grey-lighter;
  // margin-bottom: 13px;
  flex-grow: 2;
  position: relative;
  appearance: none;
  outline: none;
}

.form__input:focus {
  border: 2px solid $grey;
  padding-left: 17px;
}

.form__input--textarea:focus {
  padding-top: 9px;
}

.form__button-wrapper {
  margin-bottom: 31px;
}

.form__footnote {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: $black;
  margin: 0;
}

.form__input::placeholder {
  @include fonts(400, 16px, 18px, $grey-rgba);
  opacity: 1;
}

.form__input--textarea {
  padding-top: 10px;
  padding-left: 14px;
  padding-right: 13px;
  height: 150px;
}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form__button {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .form {
    padding-left: 40px;
    padding-right: 40px;
  }

  .form__fieldset--cat {
    margin-bottom: 72px;
  }

  .form__fieldset--plan {
    border: 1px solid $grey-lighter;
    padding-bottom: 29px;
    margin-bottom: 76px;
  }

  .form__fieldset--plan::before,
  .form__fieldset--plan::after {
    display: none;
  }

  .form__fieldset--comments {
    margin-bottom: 66px;
  }

  .form__fieldset--extra {
    margin-bottom: 15px;
  }

  .form__legend {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 75px;
  }

  .form__legend--extra {
    margin-bottom: 62px;
  }

  .form__legend::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100vw;
    background-color: $green;
  }

  .form__legend--owner::before {
    right: calc(100% + 42px);
    top: 22px;
  }

  .form__legend--comments::before {
    right: calc(100% + 42px);
    top: 22px;
  }

  .form__legend--extra::before {
    right: calc(100% + 42px);
    top: 22px;
  }

  .form__legend--owner::after {
    left: calc(100% + 35px);
    top: 22px;
  }

  .form__legend--comments::after {
    left: calc(100% + 34px);
    top: 22px;
  }

  .form__legend--extra::after {
    left: calc(100% + 34px);
    top: 22px;
  }

  .form__item-wrapper--contacts {
    margin-bottom: 66px;
  }

  .form__item {
    margin-bottom: 20px;
  }

  .form__label {
    font-size: 20px;
    line-height: 30px;
  }

  .form__input {
    font-size: 20px;
    line-height: 30px;
    height: 52px;
    padding-left: 18px;
  }

  .form__input--textarea {
    min-height: 174px;
  }

  .form__input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .form__input-email-icon {
    right: 14px;
    top: 20px;
  }

  .form__input-tel-icon {
    top: 89px;
    right: 14px;
  }

  .form__button-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 72px;
  }

  .form__button {
    margin-bottom: 0;
    margin-right: 60px;
  }

  .form__footnote {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding: 0;
  }

  .form__fieldset-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  .form__fieldset--cat {
    margin-bottom: 0;
    width: calc(50% - 40px);
  }

  .form__fieldset--plan {
    padding-top: 30px;
    width: calc(50% - 40px);
    margin-bottom: 0;
  }

  .form__fieldset--comments {
    margin-bottom: 68px;
  }

  .form__fieldset--extra {
    margin-bottom: 23px;
  }

  .form__legend--owner::before,
  .form__legend--owner::after {
    top: 20px;
  }

  .form__item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__item-wrapper--contacts {
    margin-bottom: 68px;
  }

  .form__item--contact {
    width: calc(50% - 40px);
    margin-bottom: 0;
  }

  .form__input-email-icon {
    left: 531px;
    top: 19px;
  }

  .form__input-tel-icon {
    top: 15px;
    right: 16px;
  }

  .form__button-wrapper {
    margin-bottom: 85px;
  }

  .form__button {
    margin-right: 80px;
  }
}

/* stylelint-disable */
.form__input--number::-webkit-outer-spin-button,
.form__input--number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form__input--number {
  -moz-appearance: textfield;
}
