.gift {
  background-image: url("../img/gift-photo-mobile.jpg");
  min-height: 289px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: auto auto;
  }
}

.gift__slogan {
  font-size: 16px;
  line-height: 20px;
  color: $white;
  padding-top: 187px;
  padding-bottom: 25px;
  text-align: center;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}

.gift__slogan::before {
  content: url("../img/icon_gift.svg");
  position: absolute;
  top: 58px;
  left: 100px;
}

@media (min-width: $tablet-width) {
  .gift {
    min-height: auto;
    background-image: url("../img/gift-photo-tablet.jpg");
    background-repeat: no-repeat;
    background-size: 708px 200px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .gift__slogan {
    padding-top: 72px;
    padding-bottom: 71px;
    padding-right: 38px;
    text-align: left;
    margin-left: 423px;
  }

  .gift__slogan::before {
    left: -345px;
  }
}

@media (min-width: $desktop-width) {
  .gift {
    background-image: url("../img/gift-photo-desktop.jpg");
    background-size: 245px 289px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .gift__slogan {
    margin: 0;
    padding-top: 186px;
    padding-left: 41px;
    padding-right: 43px;
    padding-bottom: 42px;
    text-align: center;
  }

  .gift__slogan::before {
    top: 57px;
    left: 84px;
  }
}
