// to delete
@media (min-width: $tablet-width) {
  .logo__image {
    width: 174px;
    height: 52px;
  }
}

@media (min-width: $desktop-width) {
  .logo__image {
    width: 202px;
    height: 59px;
  }
}
