.main-nav {
  width: 100%;
  padding-bottom: 3px;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .main-nav {
    padding-top: 17px;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    z-index: 2;
  }
}
