.main-nav {
  width: 100%;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid $grey-light;
  text-align: center;
}

.main-nav__item:last-child {
  border-bottom: 1px solid $grey-light;
}

.main-nav__item-link {
  @include fonts(500, 20px, 20px, $black);
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav__item {
    border-top: none;
    margin-left: 35px;
  }

  .main-nav__item:first-child {
    margin-left: 0;
  }

  .main-nav__item:last-child {
    border-bottom: none;
  }

  .main-nav__item-link {
    @include fonts(400, 18px, 24px, $black);
  }

  .main-nav__item-link--active {
    border-bottom: 2px solid $green;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__item-link {
    @include fonts(400, 20px, 30px, $black);
  }

  .main-nav__item-link--active {
    border-bottom: 2px solid $white;
  }
}
