.page {
  height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: $white;
  color: $grey;
}

.page__wrapper {
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .page__wrapper {
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .page__wrapper {
    padding: 0 100px;
  }
}
