.page-header {
  position: relative;
}

.page-header__wrapper {
  background-color: $white;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 66px;
}


@media (min-width: $tablet-width) {
  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .page-header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 694px;
    background-color: $green-transparent;
  }

  .page-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 694px;
    background-image: url("../img/index-background-desktop.jpg");
    background-repeat: no-repeat;
  }
}
