.page-header__wrapper {
  background-color: $white;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    max-width: 768px;
    padding: 0 30px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    max-width: 1280px;
    padding: 0 30px;
    margin: 0 auto;
  }
}
