
.page-main__title--catalog {
  @include fonts(400, 36px, 36px, $black);
  text-align: left;
}

.page-main__form-title {
  @include fonts(400, 36px, 36px, $black);
}

.page-main__form-description {
  @include fonts(400, 14px, 14px, $black);
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .page-main__form-description {
    padding-left: 42px;
  }

  .page-main__promo {
    margin-top: 63px;
  }

  .page-main__button {
    margin-bottom: 526px;
    margin-left: 83px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__form-description {
    padding: 0;
  }

  .page-main__button {
    margin-bottom: 185px;
  }

  .page-main__promo {
    margin-top: 114px;
  }
}
