.page-header {
  position: relative;
}

.page-header__wrapper {
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding-top: 11px;
}

.page-header__nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}

.page-header__nav-toggle {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .page-header--index {
    z-index: 1;
  }

  .page-header__nav-toggle {
    display: none;
  }

  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
    margin-bottom: 60px;
    padding-top: 25px;
  }

  .page-header__nav-wrapper {
    padding: 0;
  }

  .page-header__logo {
    padding: 0;
    flex-shrink: 0;
    // display: block;
  }

  .page-header__button-wrapper {
    padding-left: 83px;
  }
}

@media (min-width: $desktop-width) {
  .page-header--index {
    background-image: linear-gradient(to right, $white 50%, transparent 50%), url("../img/desktop-cat.jpg"), linear-gradient(to right, $white 50%, #64a73d 50%);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 87px;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, $white 50%, transparent 50%), url("../img/desktop-cat@2x.jpg"), linear-gradient(to right, $white 50%, #64a73d 50%);
      background-size: auto, 720px auto, auto;
    }
  }

  .page-header__wrapper {
    background: transparent;
    padding-top: 53px;
    align-items: center;
  }

  .page-header__wrapper--index {
    margin-bottom: 107px;
    padding-top: 52px;
  }

  .page-header__wrapper--catalog {
    margin-bottom: 72px;
  }

  .page-header__button-wrapper {
    margin: 0;
    padding-left: 80px;
  }
}
