
.page-main__title--catalog {
  @include fonts(400, 36px, 36px, $black);
  text-align: left;
}

.page-main__form-title {
  @include fonts(400, 36px, 36px, $black);
  margin-top: 0;
  margin-bottom: 37px;
}

.page-main__form-description {
  @include fonts(400, 14px, 18px, $black);
  text-transform: uppercase;
  margin-bottom: 39px;
  padding-right: 54px;
}

@media (min-width: $tablet-width) {
  .page-main__form-title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
    padding-left: 39px;
  }

  .page-main__form-description {
    padding-left: 42px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__form-title {
    padding-left: 0;
  }

  .page-main__form-description {
    padding: 0;
  }
}
