.plan-item {
  background-color: $grey-extra-light;
  margin-bottom: 22px;
  padding-top: 28px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 19px;
}

.plan-item:last-child {
  margin-bottom: 0;
}

.plan-item__title {
  @include fonts(400, 24px, 37px, $black);
  text-transform: uppercase;
  padding-left: 71px;
  margin-top: 0;
  margin-bottom: 29px;
  position: relative;
}

.plan-item__title::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: $green;
  left: 2px;
  top: -6px;
}

.plan-item__title--weight-lose::after {
  position: absolute;
  content: "";
  width: 35px;
  height: 60px;
  background: url("../img/cat-slim.svg");
  background-repeat: no-repeat;
  left: 9px;
  top: -9px;
}

.plan-item__title--weight-gain::after {
  position: absolute;
  content: "";
  width: 67px;
  height: 28px;
  background-image: url("../img/cat-pro.svg");
  background-repeat: no-repeat;
  left: -7px;
  top: 5px;
}

.plan-item__description {
  margin-top: 0;
  padding-bottom: 22px;
  margin-bottom: 19px;
  border-bottom: 1px solid $grey-dark;
}

.plan-item__catalog {
  @include fonts(400, 16px, 16px, $black);
  text-transform: uppercase;
  padding-top: 18px;
  position: relative;
}

.plan-item__catalog::after {
  position: absolute;
  content: url("../img/icon-arrow.svg");
  width: 32px;
  height: 10px;
  left: 100px;
}

.plan-item__catalog:hover::after {
  position: absolute;
  content: url("../img/icon-arrow-hover.svg");
  width: 32px;
  height: 10px;
  left: 100px;
}

.plan-item__catalog:active {
  opacity: 0.3;
}

.plan-item__catalog:active::after {
  position: absolute;
  content: url("../img/icon-arrow-hover.svg");
  width: 32px;
  height: 10px;
  left: 100px;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .plan-item {
    margin-bottom: 32px;
    padding-top: 75px;
    padding-left: 53px;
    padding-bottom: 57px;
    padding-right: 279px;
  }

  .plan-item__title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 0;
    margin-bottom: 25px;
  }

  .plan-item__title::before {
    width: 200px;
    height: 200px;
    top: 13px;
    left: 394px;
  }

  .plan-item__title--weight-lose::after {
    width: 140px;
    height: 192px;
    background-size: 100%;
    left: 423px;
    top: 2px;
  }

  .plan-item__title--weight-gain::after {
    width: 268px;
    height: 112px;
    background-size: 100%;
    left: 359px;
    top: 57px;
  }

  .plan-item__description {
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 0;
    margin-bottom: 50px;
  }

  .plan-item__description--wight-gain {
    padding-right: 35px;
  }

  .plan-item__catalog {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding-top: 0;
  }

  .plan-item__catalog::after {
    left: 132px;
    top: -2px;
  }

  .plan-item__catalog:hover::after {
    left: 132px;
  }
}

@media (min-width: $desktop-width) {
  .plan-item {
    width: calc(50% - 40px);
    margin-bottom: 0;
    padding-right: 51px;
  }

  .plan-item:last-child {
    margin-right: 0;
  }

  .plan-item__title {
    margin-bottom: 73px;
    padding-left: 162px;
  }

  .plan-item__title--weight-lose::before {
    position: absolute;
    content: url("https://via.placeholder.com/100x106");
    width: 100px;
    height: 106px;
    left: 0;
    top: -35px;
  }

  .plan-item__title--weight-gain::before {
    position: absolute;
    content: url("https://via.placeholder.com/134x100");
    width: 134px;
    height: 100px;
    left: -20px;
    top: -30px;
  }

  .plan-item__description {
    margin-bottom: 26px;
  }

  .plan-item__description--wight-gain {
    padding-right: 10px;
  }
}
