.plans__list {
  list-style: none;
  padding: 0;
  margin-top: 22px;
  margin-bottom: 27px;
}

@media (min-width: $tablet-width) {
  .plans__list {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .plans__list {
    display: flex;
    justify-content: space-between;
  }
}
