.plan-item {
  background-color: $grey-extra-light;
}

.plan-item__title {
  @include fonts(400, 24px, 37px, $black);
  text-transform: uppercase;
  padding-top: 30px;
  margin-top: 30px;
  margin-bottom: 29px;
  margin-left: 91px;
}

.plan-item__description {
  padding-bottom: 23px;
  margin-top: 0;
  margin-left: 20px;
  margin-right: 33px;
  border-bottom: 1px solid $grey-dark;
}

.plan-item__catalog {
  @include fonts(400, 16px, 18px, $black);
  text-transform: uppercase;
  display: block;
  margin-left: 19px;
  padding-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .plan-item__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 53px;
    margin-bottom: 24px;
  }

  .plan-item__description {
    border-bottom: none;
    margin-left: 53px;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .plan-item__catalog {
    font-size: 20px;
    line-height: 30px;
    margin-left: 53px;
    padding-top: 52px;
    padding-bottom: 57px;
  }
}

@media (min-width: $desktop-width) {
  .plan-item {
    width: calc(50% - 40px);
  }

  .plan-item:last-child {
    margin-right: 0;
  }
}
