.plan-item {
  background-color: $grey-extra-light;
  margin-bottom: 20px;
}

.plan-item:last-child {
  margin-bottom: 0;
}

.plan-item__title {
  @include fonts(400, 24px, 37px, $black);
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 91px;
  padding-right: 20px;
  margin: 0;
  position: relative;
}

.plan-item__title--weight-lose::before {
  position: absolute;
  content: url("https://via.placeholder.com/50x53");
  width: 50px;
  height: 53px;
  left: 22px;
  top: 21px;
}

.plan-item__title--weight-gain::before {
  position: absolute;
  content: url("https://via.placeholder.com/67x50");
  width: 67px;
  height: 50px;
  left: 13px;
  top: 24px;
}

.plan-item__description {
  padding-bottom: 23px;
  margin-bottom: 18px;
  margin-top: 0;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid $grey-dark;
}

.plan-item__catalog {
  @include fonts(400, 16px, 16px, $black);
  text-transform: uppercase;
  display: block;
  margin-left: 19px;
  padding-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .plan-item__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 53px;
    margin-bottom: 24px;
  }

  .plan-item__description {
    border-bottom: none;
    margin-left: 53px;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .plan-item__catalog {
    font-size: 20px;
    line-height: 30px;
    margin-left: 53px;
    padding-top: 52px;
    padding-bottom: 57px;
  }
}

@media (min-width: $desktop-width) {
  .plan-item {
    width: calc(50% - 40px);
  }

  .plan-item:last-child {
    margin-right: 0;
  }
}
