.product--active {
  padding-bottom: 25px;
}

.product__wrapper {
  display: flex;
  flex: wrap;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 19px;
}

.product__link {
  width: 50%;
  // display: block;
  // width: 100%;
  // height: 100%;
  position: relative;
}

.product__link-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product__info {
  width: 50%;
}

.product__title {
  @include fonts(400, 16px, 20px, $black-lighter);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 12px;
  padding-right: 65px;
}

.product__title--all {
  margin-bottom: 8px;
  margin-top: 0;
  padding-top: 85px;
  padding-right: 0;
  text-align: center;
  position: relative;
}

.product__title--all::before {
  content: "";
  width: 2px;
  height: 30px;
  background-color: $grey-dark-light;
  position: absolute;
  left: 100px;
  top: 19px;
}

.product__title--all::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: $grey-dark-light;
  position: absolute;
  left: 86px;
  top: 32px;
}

.product__slogan {
  text-align: center;
  margin-top: 0;
}

.product__table {
  width: 100%;
  border-collapse: collapse;
}

.product__table-details,
.product__table-header {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $grey;
}

.product__table-details {
  text-align: right;
}

.product__slogan {
  font-size: 12px;
  line-height: 16px;
  color: $grey;
  margin-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .product {
    border: none;
  }

  .product:last-child {
    border: none;
  }
}
