.product--active {
  padding-bottom: 25px;
}

.product__wrapper {
  display: flex;
  flex: wrap;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 19px;
}

.product__link {
  width: 50%;
  // display: block;
  // width: 100%;
  // height: 100%;
  position: relative;
}

.product__link-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product__info {
  width: 50%;
}

.product__title {
  @include fonts(400, 16px, 20px, $black-lighter);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 12px;
  padding-right: 65px;
}

.product__title--all {
  margin-bottom: 8px;
  margin-top: 0;
  padding-top: 85px;
  padding-right: 0;
  text-align: center;
  position: relative;
}

.product__title--all::before {
  content: "";
  width: 2px;
  height: 30px;
  background-color: $grey-dark-light;
  position: absolute;
  left: 100px;
  top: 19px;
}

.product__title--all::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: $grey-dark-light;
  position: absolute;
  left: 86px;
  top: 32px;
}

.product__slogan {
  text-align: center;
  margin-top: 0;
  font-size: 12px;
  line-height: 16px;
  color: $grey;
  margin-bottom: 21px;
}

.product__table {
  width: 100%;
  border-collapse: collapse;
}

.product__table-details,
.product__table-header {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $grey;
}

.product__table-details {
  text-align: right;
}

@media (min-width: $tablet-width) {
  .product {
    padding-left: 39px;
    padding-right: 37px;
    padding-bottom: 40px;
    background: linear-gradient($white 30%, $grey-extra-light 30%, $grey-extra-light 70%, $grey-extra-light 100%);
  }

  .product:nth-last-child(2) {
    margin-bottom: 0;
  }

  .product--active {
    background: none;
    border: 2px solid $grey-extra-light;
    padding-bottom: 0;
  }

  .product__wrapper {
    flex-direction: column;
  }

  .product__link {
    width: 100%;
    min-height: 242px;
  }

  .product__info {
    width: 100%;
  }

  .product__title {
    font-size: 20px;
    line-height: 24px;
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
  }

  .product__table-header,
  .product__table-details {
    font-size: 16px;
    line-height: 16px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-bottom: 1px solid $grey-medium;
  }
}
