.product {
  position: relative;
}

.product::before {
  position: absolute;
  content: "";
  width: 100vw;
  height: 1px;
  background-color: $grey-medium-lighter;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.product--active::after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 1px;
  background-color: $grey-medium-lighter;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.product--active {
  padding-bottom: 25px;
}

.product__wrapper {
  display: flex;
  flex: wrap;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 8px;
}

.product__wrapper--active {
  margin-bottom: 21px;
  padding-top: 78px;
}

.product__link {
  width: 50%;
  // position: relative;
}

.product__info {
  width: 50%;
}

.product__title {
  @include fonts(400, 16px, 20px, $black-lighter);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 14px;
  padding-right: 65px;
}

.product__title--all {
  margin-bottom: 8px;
  margin-top: 0;
  padding-top: 0;
  padding-right: 0;
  text-align: center;
  position: relative;
}

.product__title--all::before {
  content: "";
  width: 2px;
  height: 30px;
  background-color: $grey-dark-light;
  position: absolute;
  left: 139px;
  top: -55px;
}

.product__title--all::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: $grey-dark-light;
  position: absolute;
  left: 125px;
  top: -41px;
}

.product__slogan {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
  color: $grey;
}

.product__table {
  width: 100%;
  border-collapse: collapse;
}

.product__table-details,
.product__table-header {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $grey;
  padding: 0;
}

.product__table-details {
  text-align: right;
  padding-right: 1px;
}

@media (min-width: $tablet-width) {
  .product {
    padding-top: 8px;
    padding-left: 39px;
    padding-right: 37px;
    padding-bottom: 40px;
    background: linear-gradient($white 16%, $grey-extra-light 16%, $grey-extra-light 84%, $grey-extra-light 100%);
  }

  .product::before,
  .product--active::after {
    display: none;
  }

  .product--active {
    background: none;
    border: 2px solid $grey-extra-light;
    padding-bottom: 0;
    height: 429px;
    align-self: flex-end;
  }

  .product__wrapper {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 33px;
  }

  .product__wrapper--active {
    padding-top: 150px;
    margin-bottom: 85px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .product__link {
    width: 100%;
    // min-height: 242px;
    text-align: center;
    margin-bottom: 30px;
  }

  .product__info {
    width: 100%;
  }

  .product__title {
    font-size: 20px;
    line-height: 24px;
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
    margin-bottom: 13px;
  }

  .product__title--all {
    line-height: 22px;
    margin-bottom: 24px;
  }

  .product__title--all::before {
    height: 60px;
    top: -110px;
    left: 110px;
  }

  .product__title--all::after {
    content: "";
    width: 60px;
    left: 80px;
    top: -80px;
  }

  .product__slogan {
    font-size: 16px;
    line-height: 18px;
  }

  .product__table-header,
  .product__table-details {
    font-size: 16px;
    line-height: 16px;
    padding-top: 8px;
    padding-bottom: 7px;
    border-bottom: 1px solid $grey-medium;
  }
}

@media (min-width: $desktop-width) {
  .product {
    padding-left: 38px;
    padding-right: 38px;
  }

  .product--active {
    padding-left: 35px;
    padding-right: 35px;
  }

  .product__wrapper--active {
    padding-top: 96px;
    padding-left: 0;
    padding-right: 0;
  }

  .product__link {
    margin-bottom: 2px;
  }

  .product__title {
    line-height: 21px;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 19px;
  }

  .product__title--all {
    line-height: 22px;
    padding: 0;
    padding-top: 60px;
    margin-bottom: 25px;
  }

  .product__title--all::before {
    top: -49px;
    left: 85px;
  }

  .product__title--all::after {
    top: -19px;
    left: 55px;
  }

  .product__table-header {
    // padding-left: 3px;
    padding-top: 7px;
  }

  .product:nth-last-child(2) {
    margin-bottom: 59px;
  }
}
