.promo {
  position: relative;
}

.promo__background-wrapper {
  background-image: url("../img/mobile-cat2.jpg"), linear-gradient(to right, #64a73c 50%, #62a53a 50%);
  background-repeat: no-repeat;
  background-position: center;
  // margin-left: -10px;
}

.promo__text-wrapper {
  min-height: 302px;
}

.promo__title {
  @include fonts(400, 36px, 36px, $white);
  text-align: center;
  // margin: 0 0 0 10px;
  margin: 0;
  padding-top: 27px;
  margin-bottom: 25px;
}

.promo__description {
  @include fonts(400, 14px, 14px, $white);
  text-transform: uppercase;
  text-align: center;
  // margin-top: 0;
  margin: 0;
}

.promo__image-can {
  position: absolute;
  top: 165px;
  // left: 0px;
  // left: 50%;
  // transform: translateX(50%);
}

@media (min-width: $tablet-width) {
  .promo {
    min-height: 812px;
  }

  .promo__background-wrapper {
    background-image: none;
  }

  .promo__text-wrapper {
    min-height: auto;
  }

  .promo__title {
    @include fonts(400, 60px, 60px, $black);
    text-align: left;
    padding: 0 0 0 87px;
    margin-bottom: 41px;
  }

  .promo__description {
    @include fonts(400, 20px, 20px, $black);
    text-align: left;
    padding: 0 0 0 88px;
  }

  .promo__image-can {
    left: 350px;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    min-height: 519px;
  }

  .promo__background-wrapper {
    background-color: transparent;
  }

  .promo__title {
    padding-left: 80px;
    padding-top: 50px;
  }

  .promo__description {
    padding-left: 80px;
    // margin-bottom: 52px;
  }
}
