.promo {
  position: relative;
}


.promo__background-wrapper {
  background-image: url("../img/mobile-cat.jpg"), linear-gradient(to right, #64a73c 50%, #62a53a 50%);
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mobile-cat@2x.jpg"), linear-gradient(to right, #64a73c 50%, #62a53a 50%);
    background-size: 320px auto, auto;
  }
}

.promo__text-wrapper {
  min-height: 302px;
  margin-bottom: 138px;
}

.promo__title {
  @include fonts(400, 36px, 36px, $white);
  text-align: center;
  margin: 0;
  padding-top: 27px;
  margin-bottom: 25px;
}

.promo__description {
  @include fonts(400, 14px, 14px, $white);
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.promo__image-can {
  position: absolute;
  top: 165px;
  // left: 0px;
  // left: 50%;
  // transform: translateX(50%);
}

@media (min-width: $tablet-width) {
  .promo {
    min-height: 812px;
  }

  .promo__background-wrapper {
    background-image: none;
  }

  .promo__text-wrapper {
    min-height: auto;
    margin-bottom: 49px;
  }

  .promo__title {
    @include fonts(400, 60px, 60px, $black);
    text-align: left;
    padding: 0 0 0 87px;
    margin-bottom: 40px;
  }

  .promo__description {
    @include fonts(400, 20px, 20px, $black);
    text-align: left;
    padding: 0 0 0 88px;
  }

  .promo__image-can {
    width: 709px;
    height: 609px;
    z-index: -1;
    left: 50%;
    transform: translateX(-45%);
    top: 200px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    min-height: 470px;
  }

  .promo__background-wrapper {
    background-color: transparent;
  }

  .promo__text-wrapper {
    margin-bottom: 51px;
  }

  .promo__image-can {
    z-index: 0;
    width: 552px;
    height: 499px;
    transform: translateX(-25%);
    top: -20px;
  }

  .promo__title {
    padding-left: 80px;
  }

  .promo__description {
    padding-left: 80px;
    // margin-bottom: 52px;
  }
}
