.site-nav__item {
  @include fonts(500, 20px, 20px, $black);
  padding-top: 21px;
  padding-bottom: 24px;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid $grey-light;
}

.site-nav__item-link {
  color: $black;
}

@media (min-width: $tablet-width) {
  .site-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .site-nav__item {
    @include fonts(400, 18px, 24px, $black);
    margin-left: 35px;
    padding-bottom: 8px;
    padding-top: 0;
    border: none;
  }

  .site-nav__item:hover {
    opacity: 0.6;
  }

  .site-nav__item:active {
    border-bottom: 2px solid $green;
    opacity: 1;
  }

  .site-nav__item:first-child {
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .site-nav__item-link {
    @include fonts(400, 20px, 30px, $white);
  }

  .site-nav__item:active {
    border-bottom: 2px solid $white;
  }
}
