.site-nav__item {
  @include fonts(500, 20px, 20px, $black);
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.site-nav__item::before {
  position: absolute;
  content: "";
  width: 100vw;
  height: 1px;
  background-color: $grey-light;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.site-nav__item:last-child::after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 1px;
  background-color: $grey-light;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
}

.site-nav__item-link {
  color: $black;
}

@media (min-width: $tablet-width) {
  .site-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
  }

  .site-nav__item {
    @include fonts(400, 18px, 24px, $black);
    margin-left: 35px;
    // padding-bottom: 5px;
    padding-bottom: 0;
    padding-top: 0;
    border: none;
  }

  .site-nav__item::before,
  .site-nav__item::after {
    display: none;
  }

  .site-nav__item:hover {
    opacity: 0.6;
  }

  .site-nav__item:active {
    opacity: 0.3;
  }

  .site-nav__item-link--active {
    border-bottom: 2px solid $green;
  }

  .site-nav__item:first-child {
    margin-left: 0;
  }

  .site-nav__item-link {
    padding-bottom: 6px;
  }

  .site-nav__item-link--index {
    padding-bottom: 8px;
  }
}

@media (min-width: $desktop-width) {
  .site-nav__item-link {
    @include fonts(400, 20px, 30px, $black);
    padding-bottom: 6px;
  }

  .site-nav__item-link--index {
    color: $white;
  }

  .site-nav__item-link--active.site-nav__item-link--index {
    border-bottom: 2px solid $white;
  }
}
