.social {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social__item {
  margin-right: 34px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  fill: $grey-extra;
}

.social__link:hover {
  fill: $green;
}

.social__link:active {
  fill: $green;
  opacity: 0.3;
}

.social__link--facebook {
  stroke: $grey-extra;
  fill: none;
}

.social__link--facebook:hover {
  fill: none;
  stroke: $green;
}

.social__link--facebook:active {
  fill: none;
  stroke: $green;
}

@media (min-width: $tablet-width) {
  .social {
    margin: 0;
  }

  .social__item {
    margin-right: 22px;
    flex-shrink: 0;
  }

  .social__svg--vkontakte {
    width: 30px;
    height: 22px;
  }

  .social__svg--instagram {
    width: 23px;
    height: 23px;
  }

  .social__svg--facebook {
    width: 28px;
    height: 33px;
  }
}

