.social__list {
  list-style: none;
  // border-bottom: 1px solid $grey-dark;
  // border-top: 1px solid $grey-dark;
  // margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social__item {
  margin-right: 36px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
}

.social__link:hover path {
  fill: $green;
}

.social__link:active path {
  fill: $green;
  opacity: 0.3;
}

.social__link--facebook:active {
  fill: none;
  stroke: $green;
}

@media (min-width: $tablet-width) {
  .social__list {
    border: none;
  }

  .social__item {
    padding: 0;
  }

  .social__svg {
    width: 30px;
    height: 22px;
  }
}
