.social__list {
  list-style: none;
  border-bottom: 1px solid $grey-dark;
  border-top: 1px solid $grey-dark;
  // margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social__item {
  margin-right: 36px;
  padding-top: 23px;
  padding-bottom: 13px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
}

@media (min-width: $tablet-width) {
  .social__list {
    border: none;
  }

  .social__item {
    padding: 0;
  }
}
