// Colors

$black: #000000;
$black-light: #111111;
$black-lighter: #222222;
$black-transparent: rgba(0, 0, 0, 0.24);
$black-more-transparent: rgba(0, 0, 0, 0.4);
$white: #ffffff;
$grey: #444444;
$grey-rgba: rgba(68, 68, 68, 1);
$grey-medium: #cdcdcd;
$grey-medium-extra: #dcdcdc;
$grey-light: #e6e6e6;
$grey-lighter: #e7e7e7;
$grey-extra-light: #f2f2f2;
$grey-medium-light: #eaeaea;
$grey-medium-lighter: #ebebeb;
$grey-dark: #d9d9d9;
$grey-dark-light: #d3d3d3;
$green: #68b738;
$green-transparent: rgba(104, 183, 56, 0.85);

//Viewports

$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width-only: 767px;//зачем этот размер?
